---
// @ts-nocheck
import Layout from '@/layouts/Layout.astro';

import Card from '@/components/Card.astro';
import SearchableGrid from '@/components/SearchableGrid.astro';

const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/ssleaderboard/refs/heads/main/meta.json';
const BLITZ_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/blitz.json';
const RAID_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/raid.json';

const [data, blitzData, raidData] = await Promise.all([
    fetch(DATA_URL)
        .then((r) => r.json())
        .catch(() => ({})),
    fetch(BLITZ_URL)
        .then((r) => r.json())
        .catch(() => ({})),
    fetch(RAID_URL)
        .then((r) => r.json())
        .catch(() => ({})),
]);
---

<Layout title="Leaderboard | stelladb">
    <SearchableGrid placeholder="Search bosses by id, name or boss name..." noResultsText="No leaderboard found.">
        {
            Object.entries(data).map(([id, floors]) => {
                const isBB = id.slice(0, 2) === 'bb';
                const region = id.slice(-2);
                const name = isBB ? `Boss Blitz S${id.slice(2, -2)} ${region.toUpperCase()}` : `Finale Echoing S${id.slice(2, -2)} ${region.toUpperCase()}`;
                const floorData = isBB ? blitzData : raidData;

                return (
                    <div class={'card-item'} data-id={id} data-name={name} data-desc={floors.map((f) => floorData[f].name).join(', ')}>
                        <Card href={`/lb/${id}`} name={name} desc={floors.map((f) => floorData[f].name).join(', ')} image={`https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/${isBB ? 'mapchallenge' : 'monster'}/${floorData[floors[0]]?.icon}.webp`} inset={-30} />
                    </div>
                );
            })
        }
    </SearchableGrid>
</Layout>
